{% load staticfiles %}
<!DOCTYPE html>
<html lang="fa" >
<head>
    <meta charset="utf-8">
    <title>Django Placeholder Images</title>
    <link rel="stylesheet" href="{% static 'site.css' %}" type="text/css">
</head>

<body>
    <h1 dir="rtl">فضا نگهدار با DJANGO</h1>
    <p dir="rtl">این سرور برای ارائه عکس هایی با اندازه دلخواه برای استفاده های صرفا فضا گیری ایجاد شده.
    </p>
    <p dir="rtl">برای استفاده از این سرور کافی است درخواست خود را به صورت پایین ارسال کنید.
    <p>/placeholder/&lt;width&gt;x&lt;height&gt;/</p>
    اگر می خواهید یک تصویر از sever ما را در وبسایت خود داشته باشید می توانید از نمونه کد زیر استفاده کنید.
    </p>
    <pre>
        &lt;img src="{{ example }}"&gt;
    </pre>
    <h2>نمونه ها</h2>
    <ul>
        <li><img src="{% url 'placeholder' width=50 height=50 %}"></li>
        <li><img src="{% url 'placeholder' width=100 height=50 %}"></li>
        <li><img src="{% url 'placeholder' width=50 height=100 %}"></li>
        <li><img src="{% url 'placeholder' width=100 height=100 %}"></li>
    </ul>
</body>
</html>
